@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Quicksand:wght@400;700&display=swap");

:root {
  --white: #ffff;
  --darkness-white: #fafafa;
  --cyan: #4fa3b6;
  --blue: #096d93;
  --darkness-blue: #0e4259;
  --text-blue: #30a8f0;
  --text-red: #ff0202;
  --text-black: #000000;
  --border-grey: #808080;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: var(--cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */
header {
  width: 100%;
  position: relative;
  background-color: var(--blue);
}

header > a {
  position: absolute;
  left: 2.5%;
  top: 6%;
  height: 50%;
  transform: translate(0%, 0%);
  width: fit-content;
  color: var(--darkness-white);
}

a:visited {
  color: var(--darkness-white);
}

header a img {
  width: auto;
  height: 100%;
}

header h1 {
  font-family: "Nosifer", cursive;
  color: var(--white);
  width: fit-content;
  margin: auto;
  padding: 2% 0%;
}

/* nav */
nav {
  height: 50px;
  width: 100%;
  background-color: var(--darkness-blue);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  padding: 0% 2%;
  height: 100%;
  color: var(--darkness-white);
  list-style: none;
}

.nav-item {
  width: 100%;
  height: 100%;
}

.nav-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.nav-item a span {
  display: none;
}

.nav-item:hover {
  transition: all 0.5s ease;
  background-color: rgba(79, 163, 182, 0.5);
}

/* main */
main {
  width: 85%;
  margin: 5vh 0vh 10vh 0vh;
}

hr {
  display: none;
}

/* forecast */

.forecast-day-desktop {
  display: none;
}

.forecast-day-mobile {
  margin-right: 5px;
}

.forecast {
  width: 75%;
}

.forecast h2 {
  margin-bottom: 5%;
}

.forecast h2::first-letter {
  text-transform: uppercase;
}

.forecast-item img {
  width: 100%;
}

#forecasts {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.forecast-item {
  background-color: var(--darkness-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
}

.forecast-item h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.forecast-temps {
  text-align: center;
}

.forecast-temp {
  font-weight: bold;
  position: relative;
}

.forecast-max {
  color: var(--text-red);
}

.forecast-divider {
  margin: 0px 5px 0px 20px;
}

.forecast-min {
  color: var(--text-blue);
}

.forecast-min::after,
.forecast-max::after {
  content: "°c";
  position: absolute;
  top: 0px;
  left: 100%;
  transform: translate(2px, -2px);
}

.forecast-item:nth-child(10n),
.forecast-item:nth-child(9n) {
  display: none;
}

/* aside */

aside {
  vertical-align: top;
  width: 25%;
  background-color: var(--darkness-white);
  border-radius: 10px;
  box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
}

aside ul {
  list-style: none;
}

.aside-item {
  margin: 5% 0%;
}

.aside-item a:hover {
  transition: all 0.5s ease;
  background-color: rgba(79, 163, 182, 0.5);
}

.aside-item a {
  border-radius: 10px;
  display: block;
  padding: 3%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-black);
}

.aside-item a i {
  margin-right: 2%;
  color: var(--blue);
}

/* statements */
#statements {
  margin-top: 10vh;
  display: none;
}

.ephemeride {
  width: 70%;
  border-radius: 10px;
}

.statements {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  padding: 2%;
  color: var(--cyan);
  border-radius: 10px;
  box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
  width: 30%;
}

.statements h2::first-letter {
  text-transform: uppercase;
}

.statements table {
  color: var(--text-black);
  border-collapse: collapse;
  width: 95%;
}

.statements-head th::first-letter {
  text-transform: uppercase;
}

.statements-body tr {
  border: 1px solid var(--text-black);
}

.statements-body tr td {
  text-align: left;
  font-weight: bold;
}

.statements-body tr td:nth-child(3n) {
  color: var(--text-blue);
  position: relative;
}

.statements-body tr td:nth-child(3n)::after {
  content: "°C";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(2px, -2px);
  color: var(--text-blue);
}

.statements-body tr td:nth-child(4n) {
  color: var(--text-red);
  position: relative;
}

.statements-body tr td:nth-child(4n)::after {
  content: "°C";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(2px, -2px);
  color: var(--text-red);
}

/* gallery */

.gallery {
  display: grid;
  width: 50%;
  gap: 2%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.gallery img {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
}

/* form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  width: 50%;
  background-color: var(--darkness-white);
  border-radius: 10px;
  color: var(--cyan);
}

form h2::first-letter {
  text-transform: uppercase;
}

form h2 {
  margin: 5% 0%;
}

form p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0%;
  font-weight: bold;
}

form p span:nth-child(1)::first-letter {
  text-transform: uppercase;
}

form input[type="email"] {
  width: 100%;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
  padding: 3%;
  outline: none;
}

form input[type="email"]::placeholder {
  font-family: "Quicksand", sans-serif;
}

form input[type="submit"] {
  cursor: pointer;
  border: none;
  background-color: var(--cyan);
  color: var(--white);
  text-transform: uppercase;
  padding: 2.5% 0%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
  margin: 5% 0%;
}

#gallery_form {
  margin-top: 10vh;
}

.row {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 10px;
}
/* footer */

footer {
  padding: 2.5% 0%;
  background-color: var(--blue);
  width: 100%;
  text-align: center;
}

footer small {
  font-family: "Nosifer", cursive;
  color: var(--white);
  text-align: center;
}

/* responsive */
@media screen and (min-width: 1200px) {
  hr {
    display: block;
    margin-bottom: 10vh;
    border: none;
    height: 50vh;
    width: 100%;
    background-image: url(./img/beach-1852945_1920.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* nav - desktop */
  .nav-item a {
    text-transform: uppercase;
  }

  .nav-item a span {
    display: inline;
    font-size: 1rem;
  }

  /* forecast - desktop*/
  .forecast {
    min-height: 100%;
  }

  #forecast_aside {
    gap: 30px;
  }

  #forecasts {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: calc(95% - 2.7em);
  }

  .forecast-day-desktop {
    display: inline;
    margin-right: 5px;
  }

  .forecast-day-mobile {
    display: none;
  }

  .forecast-item:nth-child(10n),
  .forecast-item:nth-child(9n) {
    display: block;
  }

  /* statements - desktop*/
  #statements {
    display: flex;
  }

  /* form - desktop*/
  form {
    width: 30%;
  }

  /* gallery - desktop */
  .gallery {
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
